@{
    ViewBag.Title = "Our Bakery";
    ViewBag.Message = "Visit us at:";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    17171 Bellevue Way NE<br />
    Burien, WA&nbsp; 98110<br />
    <abbr title="Phone">P:</abbr>
    206.555.0123
</address>